---
#####################################################################################################################
# General Variables for splunk_cluster_production
#####################################################################################################################

splunk_cluster_label: production
