[repository]
localhost       ansible_connection=local

[shcmember]

[searchhead]

[searchpeer]

[peernode]

[licensemaster]

[deployer]

[masternode]

[deploymentserver]

[dmc]

[site0]

[site1]

[site2]

[shcluster]

[cluster]

[heavyforwarder]

