############################################
#
# Default app spec for the target group this
# file resists in. 
# 
############################################

{{ app_variable }}:
  {{ deployment.dir }}:
    install: true
    clean_install: false
    git_repo: {{ splunk_repository.git_url }}/{{ app_name }}.git
    git_version: {{ git_branch }}


