---
#####################################################################################################################
# Configurations for Splunk server.conf
#####################################################################################################################

#####################################################################################################################
# [clustering]
#####################################################################################################################

#  multisite

- name: "Configure server.conf [clustering] - multisite state=present" 
  ini_file: dest={{ splunk_conf_path }}/server.conf
            section=clustering
            option=multisite
            value={{ splunk_server_conf.clustering.multisite }}
            state=present
  when: splunk_server_conf.clustering.multisite is defined or
        splunk_server_conf.clustering.multisite == true
  notify: splunk restart

- name: "Configure server.conf [clustering] - multisite state=absent (default)"
  ini_file: dest={{ splunk_conf_path }}/server.conf
            section=clustering
            option=multisite
            state=absent
  when: splunk_server_conf.clustering.multisite is undefined or
        splunk_server_conf.clustering.multisite != true
  notify: splunk restart

